Inventors.Xml.Test/TestData/company.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="company" nillable="true" type="Inventors.Xml.Test.TestObjects.Company" />

<xs:complexType name="Inventors.Xml.Test.TestObjects.Company">
<xs:sequence>
<xs:element minOccurs="0" maxOccurs="1" name="departments" type="Inventors.Xml.Test.TestObjects.Company.Departments.Array" />
<xs:element minOccurs="0" maxOccurs="1" name="employees" type="Inventors.Xml.Test.TestObjects.Company.Employees.Array" />
</xs:sequence>
<xs:attribute name="name" type="xs:string" use="required" />
</xs:complexType>

<xs:complexType name="Inventors.Xml.Test.TestObjects.Data.Identifiable" abstract="true">
<xs:attribute name="id" type="xs:string" use="required" />
</xs:complexType>

<xs:complexType name="Inventors.Xml.Test.TestObjects.Data.Department">
<xs:complexContent mixed="false">
<xs:extension base="Inventors.Xml.Test.TestObjects.Data.Identifiable">
<xs:sequence>
<xs:choice minOccurs="0" maxOccurs="unbounded">
<xs:element minOccurs="0" maxOccurs="1" name="position" type="Inventors.Xml.Test.TestObjects.Data.Position" />
</xs:choice>
</xs:sequence>
<xs:attribute name="name" type="xs:string" use="required" />
<xs:attribute name="manager" type="xs:string" use="optional" />
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="Inventors.Xml.Test.TestObjects.Data.Position">
<xs:attribute name="title" type="xs:string" use="required" />
<xs:attribute name="employee-id" type="xs:string" use="required" />
</xs:complexType>

<xs:complexType name="Inventors.Xml.Test.TestObjects.Company.Departments.Array">
<xs:choice minOccurs="0" maxOccurs="unbounded">
<xs:element minOccurs="1" maxOccurs="1" name="department" nillable="true" type="Inventors.Xml.Test.TestObjects.Data.Department" />
</xs:choice>
</xs:complexType>

<xs:complexType name="Inventors.Xml.Test.TestObjects.Data.Employee">
<xs:complexContent mixed="false">
<xs:extension base="Inventors.Xml.Test.TestObjects.Data.Identifiable">
<xs:attribute name="name" type="xs:string" use="required" />
<xs:attribute name="address" type="xs:string" use="optional" />
<xs:attribute name="salary" type="xs:double" use="required" />
<xs:attribute name="type" type="Inventors.Xml.Test.TestObjects.Data.EmployeeType" use="optional" />
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:simpleType name="Inventors.Xml.Test.TestObjects.Data.EmployeeType">
<xs:restriction base="xs:string">
<xs:enumeration value="engineer" />
<xs:enumeration value="administrative" />
</xs:restriction>
</xs:simpleType>

<xs:complexType name="Inventors.Xml.Test.TestObjects.Company.Employees.Array">
<xs:choice minOccurs="0" maxOccurs="unbounded">
<xs:element minOccurs="1" maxOccurs="1" name="employee" nillable="true" type="Inventors.Xml.Test.TestObjects.Data.Employee" />
</xs:choice>
</xs:complexType>
</xs:schema>
