Inventors.Xml.Test/TestData/company.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="company" nillable="true" type="Inventors.Xml.Test.TestObjects.Company" />

<xs:complexType name="Inventors.Xml.Test.TestObjects.Company">
<xs:annotation>
<xs:documentation>
Description of a company
</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element minOccurs="0" maxOccurs="1" name="departments" type="Inventors.Xml.Test.TestObjects.Company.Departments.Array">
<xs:annotation>
<xs:documentation>
A description of the departments of the company.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element minOccurs="0" maxOccurs="1" name="employees" type="Inventors.Xml.Test.TestObjects.Company.Employees.Array">
<xs:annotation>
<xs:documentation>
The employees of the company
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
<xs:attribute name="name" type="xs:string" use="required">
<xs:annotation>
<xs:documentation>
The name of the company
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>

<xs:complexType name="Inventors.Xml.Test.TestObjects.Data.Identifiable" abstract="true">
<xs:attribute name="id" type="xs:string" use="required">
<xs:annotation>
<xs:documentation>
ID of the object, which is used to refer to it from other objects.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>

<xs:complexType name="Inventors.Xml.Test.TestObjects.Data.Department">
<xs:complexContent mixed="false">
<xs:extension base="Inventors.Xml.Test.TestObjects.Data.Identifiable">
<xs:annotation>
<xs:documentation>
A description of the department of the company.
</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:choice minOccurs="0" maxOccurs="unbounded">
<xs:element minOccurs="0" maxOccurs="1" name="position" type="Inventors.Xml.Test.TestObjects.Data.Position" />
</xs:choice>
</xs:sequence>
<xs:attribute name="name" type="xs:string" use="required">
<xs:annotation>
<xs:documentation>
Name of the dapartment
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="manager" type="xs:string" use="optional">
<xs:annotation>
<xs:documentation>
The ID of the manager of the department.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="Inventors.Xml.Test.TestObjects.Data.Position">
<xs:attribute name="title" type="xs:string" use="required">
<xs:annotation>
<xs:documentation>
Title of the position
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="employee-id" type="xs:string" use="required">
<xs:annotation>
<xs:documentation>
The ID of the employee that fills the position within the department.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>

<xs:complexType name="Inventors.Xml.Test.TestObjects.Company.Departments.Array">
<xs:choice minOccurs="0" maxOccurs="unbounded">
<xs:element minOccurs="1" maxOccurs="1" name="department" nillable="true" type="Inventors.Xml.Test.TestObjects.Data.Department" />
</xs:choice>
</xs:complexType>

<xs:complexType name="Inventors.Xml.Test.TestObjects.Data.Employee">
<xs:complexContent mixed="false">
<xs:extension base="Inventors.Xml.Test.TestObjects.Data.Identifiable">
<xs:annotation>
<xs:documentation>
Description an employee of the company.
</xs:documentation>
</xs:annotation>
<xs:attribute name="name" type="xs:string" use="required">
<xs:annotation>
<xs:documentation>
Name of the employee
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="address" type="xs:string" use="optional">
<xs:annotation>
<xs:documentation>
Address of the employee
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="salary" type="xs:double" use="required">
<xs:annotation>
<xs:documentation>
The salary of the employee
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="type" type="Inventors.Xml.Test.TestObjects.Data.EmployeeType" use="optional">
<xs:annotation>
<xs:documentation>
The type of employee.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:simpleType name="Inventors.Xml.Test.TestObjects.Data.EmployeeType">
<xs:restriction base="xs:string">
<xs:enumeration value="engineer" />
<xs:enumeration value="administrative" />
</xs:restriction>
</xs:simpleType>

<xs:complexType name="Inventors.Xml.Test.TestObjects.Company.Employees.Array">
<xs:choice minOccurs="0" maxOccurs="unbounded">
<xs:element minOccurs="1" maxOccurs="1" name="employee" nillable="true" type="Inventors.Xml.Test.TestObjects.Data.Employee" />
</xs:choice>
</xs:complexType>
</xs:schema>
